In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import seaborn as sns
import json

In [ ]:
plt.style.use('seaborn-v0_8-pastel')

In [ ]:

with open('../config/lyft_conection.json', 'r') as file:
    credenciales_lyft = json.load(file)

In [ ]:

engine = create_engine(f"mysql+pymysql://{credenciales_lyft['USERNAME']}:{credenciales_lyft['PASSWORD']}@{credenciales_lyft['SERVER']}/{credenciales_lyft['DATABASE']}")

In [ ]:
fecha_inicio = '2025-01-01 00:00:00'
fecha_fin = '2025-10-31 23:59:59'

In [ ]:
sql_bike_payment_fact = f'''

SELECT 
    
FROM BikePaymentFact
WHERE 
	creationDateTime BETWEEN UNIX_TIMESTAMP(CONVERT_TZ("{fecha_inicio}", "America/Mexico_City", 'UTC'))*1000
    AND UNIX_TIMESTAMP(CONVERT_TZ("{fecha_fin}", "America/Mexico_City", 'UTC'))*1000;

'''

df_sql_bike_payment_fact = pd.read_sql(sql_bike_payment_fact, engine)
df_sql_bike_payment_fact.head()