In [2]:
import pandas as pd

In [3]:
csv_file_path = '../data/Bin_Manager_Anexo_ECOBICI.csv'
df_transactions = pd.read_csv(csv_file_path, encoding='latin1')
df_transactions.head()

,BIN,LONGITUD,RANGO,ID INSTITUCIÃN,INSTITUCIÃN,PRODUCTO,NOMBRE CORTO,NATURALEZA,MARCA
0,20202200,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
1,20202201,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
2,20202202,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
3,20202203,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
4,20202204,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA

In [4]:
# quitar a BIN los ultimos dos digitos
df_transactions['BIN'] = df_transactions['BIN'].astype(str).str[:-2]
df_transactions.head()

,BIN,LONGITUD,RANGO,ID INSTITUCIÃN,INSTITUCIÃN,PRODUCTO,NOMBRE CORTO,NATURALEZA,MARCA
0,202022,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
1,202022,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
2,202022,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
3,202022,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
4,202022,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA

In [6]:
# contar duplicados
df_transactions.duplicated().sum()

np.int64(77985)

In [7]:
# eliminar duplicados
df_transactions = df_transactions.drop_duplicates()
df_transactions.head()

,BIN,LONGITUD,RANGO,ID INSTITUCIÃN,INSTITUCIÃN,PRODUCTO,NOMBRE CORTO,NATURALEZA,MARCA
0,202022,6,COMPLETO,110030,BAJIO,PRESTAMOS ABCD,ABCD,CRÃDITO,PRIVADA
100,202027,6,COMPLETO,110044,SCOTIABANK INVERLAT,INVERLAT PAGOS,-,CRÃDITO,PRIVADA
200,223453,8,FRACCIÃN,110128,AUTOFIN,PVIVIENDA,PVIVIENDA,DÃBITO,MASTER CARD
201,223453,8,FRACCIÃN,110128,AUTOFIN,BAAUTOFIN3,AAUTOFIN3,DÃBITO,MASTER CARD
202,223453,8,FRACCIÃN,110128,AUTOFIN,PROGRAMN09,PROGRAMN09,DÃBITO,MASTER CARD

In [9]:
# filtrar por BIN
bin_to_filter = '418914'  # Reemplaza con el BIN que deseas filtrar
filtered_df = df_transactions[df_transactions['BIN'] == bin_to_filter]
filtered_df.head()

,BIN,LONGITUD,RANGO,ID INSTITUCIÃN,INSTITUCIÃN,PRODUCTO,NOMBRE CORTO,NATURALEZA,MARCA
7484,418914,6,COMPLETO,110072,BANORTE,IXE/VISA/DEBITO,IXE DEBITO,DÃBITO,VISA

In [10]:
df_transactions.to_csv('../data/Bin_ECOBICI.csv', index=False)